
<% include partials/header %>
<div class="container">
<h1>Login Page</h1>

<form action="/home/login" method="post">
<div class="form-group">
<input type="email" class="form-control" name="username" placeholder="enter email" required>
</div>
<div class="form-group">
<input type="password" class="form-control" name="password" placeholder="enter password" required>
</div>
<div class="form-group">
<button type="submit" class="btn btn-lg btn-primary">login</button>
</div>

</form>
</div>

<% include partials/footer %>

