body{
	background-color:rgba(150, 187, 56, 0.2);
}
.navbar-brand{
	margin:0 auto;
	padding-left:70px ;
	font-weight: .3em;
	font-size:25px;
	font-family: sans-serif,Open san,Times, Times New Roman;
}
.nav{
	margin: 0, auto;
	padding-right: 70px;
	font-size:20px;
	font-family: sans-serif,Open san,Times, Times New Roman;
}
